*{
	padding: 0;
	margin: 0;
}

.container{
	width: 100%;
	height: 100vh;
	background-color: #284e96;
}

.box{
	width:fit-content;
	height: 100vh;
	background-color: #fff;
	position: relative;
	text-align: left;
	z-index: 1;
	opacity: 0; 
	left: -500px;
	pointer-events: none;
	transition: .3s;
}
.active.box{
	opacity: 1;
	left: 0px;
	pointer-events: fill;
}

.menu_icon_box{
	z-index: 2;
	width: fit-content;
	height: auto;
	background-color: #fff;
	margin: 30px;
	position: absolute;
	border-radius: 4px;
	cursor: pointer;
	transition: .2s;
}

.line1 , .line2 , .line3{
	width: 40px;
	height: 4px;
	margin: 10px 8px;
	background-color: #000;
	border-radius: 50px;
	transition: .2s;

}

.active .line1{
	transform: translate(0px, 15px)rotate(45deg);
}

.active .line2{
	opacity: 0;
}

.active .line3{
	transform: translate(0px, -15px)rotate(-45deg);
}

nav{
	padding-top: 100px;
}

nav ul{
	margin: 0px 30px;
}

nav ul li{
	list-style: none;
	margin-bottom: 30px;
	transition: .3s;
}

nav ul li:hover{
	background-color: #c6c6c6;
	border-radius: 8px;
}
nav ul li a{
	color: #000;
	font-size: 28px;
	padding: 10px 30px;
	display: block;
	text-decoration: none;
}

.tab-content{
	padding: 30px;
	background-color: #fff;
	margin-left: 500px;
}







/* body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

#header {
	background-color: #333;
	color: white;
	height: 60px;
	display: flex;
	align-items: center;
	padding: 0 20px;

}

#sidebar {
	background-color: #eee;
	width: 200px;
	height: 100vh;
	position: fixed;
	top: 60px;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	transition: all .03s ease-out;
}

.hidden {
    display: none;
}

#sidebar {
    width: 0;
}

#sidebar.open {
    width: 250px;
}

#close-menu {
	background-color: #333;
	color: white;
	font-size: 24px;
	font-weight: bold;
}

#main {
	margin-top: 60px;
	margin-left: 200px;
	padding: 20px;
	transition: all 0.3s ease-out;
}

.header-button{
  color: white;
  padding-right: 20px;
}
#close-sidebar{
	background-color: white;
	color: #333;
}
.button {
	display: block;
	width: 80%;
	margin-bottom: 10px;
	padding: 10px;
	background-color: rgb(100, 46, 172);
	color: white;
	border: none;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
  text-align: left;

  transition: opacity 200ms;
      color: 200ms;
      box-shadow: 200ms;
}

.button:hover{
  background-color: rgb(160, 157, 157);
  box-shadow: 5px 5px 10px rgba(0,0,0, .15);
  color: black;
  opacity: .5;
}
.button:active{
  opacity: .7;
} */
